
<% @pagination.items.each_with_index  do |post,index| %>
    <div class="post">
        <h4 class="post-number"> <%= 1+index+@pagination.start_number%>.  <a href=""><img src="images/snep.svg" alt=""></a></h4>
        
        <div class="post-content">
            <div class="post-content__head">
                <h4 class="post__title"><%= post["title"] %> <a href=""> </a></h4>
                <a href="<%= post["url"]%>" target="back" class="post__autor">(<%= extract_path("https://deprogrammaticaipsum.com/kathy-sierra/") %>)</a>
            </div>
            <div class="post-content__footer">
                <ul class="post-score">
                    <li class="post-points"> 
                        <p><%= post["score"] %> points by 
                            <a href=""><%= post["by"] %></a>
                            <a href="" class="post-links"><%= time_ago(post["time"])%> ago</a>
                        </p>
                    </li>
                    <li class="post-points"> 
                        <a href="" class="post-links">hide</a>
                    </li>
                    <li class="post-points"> 
                        <a href="" class="post-links"><%= post["descendants"]%> comments</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div> 
<% end %>
<%if @pagination.more?%>
<div >
    <a class="more" href="?page=<%= @pagination.next_page %>">More</a>
</div>
<%end%>